body{
font-family: sans-serif;
color: whitesmoke;


}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;
background-color: #e31b23;

box-shadow: 0 3px 4px rgba(227, 27, 35, 0.2);

}


.LFC {
margin-left: 20px;
font-size: 33px;
letter-spacing: 3px;
}




.menu {
display: flex;
list-style: none;


}

.menu li {
margin: 0px 10px;
margin-right: 10px;
font-size: 20px;


}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    height: 40px;
    background-color: #333;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);



}

.ynwa { 
margin-left: 20px;
color: #F0E68C;


}

 h1{
color: dimgray;
font-size: 64px;
margin-bottom: 30px;


 }

 .undertext1 {
color: dimgray;
padding-left: 10px;
font-size: 36px;

 }


body {
background-image: url(jack-hunter-O4s639KfIQk-unsplash\ \(1\).jpg);
background-size: 100%;

}



h1 {
color: #e31b23;
text-shadow: 2px 2px rgba(0, 0,0, 0.5);
text-align: center;
margin-top: 6px;
   }

   a {
color: whitesmoke;

   }

   h2 {
color: whitesmoke;
text-shadow: 1px 1px rgba(0, 0, 0, 0.2) ;
margin-left: 25%;
margin-right: 60%;
margin-top: 85px;
padding: 20px;
background-color: #e31b23;
border-radius: 5%;



   }


   .navdown {
      margin-top: 50%;
      display: flex;
      background-color: #e31b23;
      padding: 15px;
      align-items: center;
      justify-content: space-evenly;
      box-shadow: rgba(227, 27, 35,0.3 );

   
   }


  .nere{
  display: flex;
  list-style: none;

  }

  .nere li {
margin-right: 10px;
margin-left: 10px;

  }

  .videoone {
     margin-left: 17%;
    
  }

  .videotwo {
margin-left: 17%;
margin-top: 10%;

  }


  .newstext {
margin-left: 54%;
margin-top: -14%;
margin-right: 10%;
padding: 20px;
background-color: darkslategray;
border-radius: 5%;
box-shadow: rgba(0, 0, 0, 0.2);

  }

  .ali { 
     margin-left: 54%;
     margin-right: 10%;
     margin-top: -14%;
     padding: 20px;
     background-color: darkslategray;
     border-radius: 5%;
  }

    
   




   



