body{
    font-family: sans-serif;
    color: whitesmoke;
     }

     .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: #e31b23;
        
        box-shadow: 0 3px 4px rgba(227, 27, 35, 0.2);
        
        }

        .menu {
            display: flex;
            list-style: none;
 }
 
 .menu li {
    margin: 0px 10px;
    margin-right: 10px;
    font-size: 20px;
    
 }

 .LFC {
    margin-left: 20px;
    font-size: 33px;
    letter-spacing: 3px;
    }

    li {

        color:whitesmoke;


    }
    
    a:visited {
color: whitesmoke;

    }
body {

    background-image: url(deividas-toleikis-ZHs61JtIbRQ-unsplash.jpg);
    background-size: cover;

}

h1{
font-family: sans-serif;
text-align: center;
color: #e31b23;
text-shadow: rgba(0, 0, 0, 0.2)

}

.arena {
color:#e31b23;
margin-left: 17%;
margin-top: 10%;



}
 
.anfield{

    margin-left: 15%;
    padding: 3px;
    background-color: #e31b23;
    border-radius: 3%;
}

.anfieldtxt{
 margin-left: 54%;
 margin-right: 15%;
 margin-top: -17%;
 padding: 2%;
 background-color: #e31b23;
 border-radius: 3%;

 

}

.heros {
    margin-top: 15%;
    margin-left: 17%;
    color: #e31b23;
}

.bill {
margin-left: 54%;
margin-top: 3%;
margin-right: 12%;
padding: 3px;
background-color: #e31b23;
border-radius: 3%;



}

.billtxt {
    margin-left: 15%;
    margin-right: 54%;
    margin-top: -17%;
    padding: 2%;
    background-color: #e31b23;
    border-radius: 3%;
}

.bob {
     margin-left: 15%;
    padding: 3px;
    background-color: #e31b23;
    border-radius: 3%;
    margin-top: 7%;
}

.bobtxt {
    margin-left: 54%;
    margin-right: 15%;
    margin-top: -17%;
    padding: 2%;
    background-color: #e31b23;
    border-radius: 3%;

}

.kenny {
    margin-left: 54%;
    margin-top: 4%;
    margin-right: 12%;
    padding: 3px;
    background-color: #e31b23;
    border-radius: 3%;

}

.kennytxt{  
    margin-left: 15%;
    margin-right: 54%;
    margin-top: -17%;
    padding: 2%;
    background-color: #e31b23;
    border-radius: 3%;




}

.steve { margin-left: 15%;
    padding: 3px;
    background-color: #e31b23;
    border-radius: 3%;
    margin-top: 7%;
}


.stevetxt {
    margin-left: 54%;
    margin-right: 15%;
    margin-top: -17%;
    padding: 2%;
    background-color: #e31b23;
    border-radius: 3%;
}

